#table_component{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table_component td, #table_component th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table_component tr:nth-child(even){background-color: #f2f2f2;}
  
  #table_component tr:hover {background-color: #ddd;}
  
  #table_component th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }